.about-section {
  background: var(--primary-gradient);
  padding: 8rem;
  z-index: 33;
  overflow: hidden;
  margin-top: 0 !important;
}

.about__text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
