.about-section {
  background: var(--primary-gradient);
  padding: 8rem 6rem;
  z-index: 100;
  overflow: hidden;
  margin-top: 0 !important;
}

.about__text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
@media screen and (max-width: 64em) {
  .about-section {
    padding: 6rem 4rem;
  }
}
