.footer {
  padding: 4rem 0 4rem 0;
}
.footer__wrapper {
  display: flex;
  width: 100%;

  justify-content: space-evenly;
  align-items: center;
}
.footer__name {
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
.footer__nav {
  width: 100%;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
  text-align: center;
}
.footer__list-item {
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.footer__list-item:hover {
  background-color: #d5d7ff;
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.8;
  color: var(--primary-text);
  background: var(--primary-gradient);
}
@media only screen and (max-width: 50em) {
  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .footer__list-item {
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .footer__list-item:hover {
    background-color: #d5d7ff;
  }
  .footer__socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 60%;
  }
  .footer__icon-link {
    align-self: center;
    justify-self: center;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__social-icon {
    width: 100%;
  }
  .copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.8;
    color: var(--primary-text);
    background: var(--primary-gradient);
  }
}
