.hero-section {
  height: 90vh;
  margin-top: 8rem;
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
}
.hero__left-col {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* height: 80vh; */
  justify-content: center;
  align-items: center;
}
.hero__cta-wrapper {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.hero__cta {
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
.hero__cta-keep-reading {
  background: var(--secondary-gradient);
}
.hero__cta-cv {
  background: var(--primary-gradient);
  color: var(--primary-text);
}
.hero__cta:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.hero__main-text {
  font-weight: 600;
  font-size: 5.8rem;
}
.highlight {
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.hero__right-col {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--primary-gradient);
  opacity: 0.25;
  height: 100%;
  width: 27%;
  z-index: 4;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  filter: blur(8px);
}

.circle {
  position: absolute;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  background: var(--primary-gradient);
  opacity: 0.1;
  z-index: 1;

  filter: blur(2px);
}
.hero__portfolio-image {
  z-index: 2;
  margin-top: 15rem;
  height: 100%;
}
.sm-circle-top {
  position: absolute;
  top: 40%;
  left: 15%;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: var(--primary-gradient);
  opacity: 0.1;
  z-index: 1;
  filter: blur(2px);
}
.sm-circle-bottom {
  position: absolute;
  height: 15rem;
  width: 15rem;
  top: 70%;
  left: 30%;
  border-radius: 50%;
  background: var(--primary-gradient);
  opacity: 0.1;
  z-index: 1;
  filter: blur(2px);
}
