.projects-section {
  background: var(--primary-gradient);
  padding: 10rem;
  margin: 0;
}
.featured-projects {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.sm-circle-bottom-card {
  position: absolute;
  top: 60%;
  left: 50%;
  background: var(--secondary-gradient);
  z-index: 999;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}
.sm-circle-top-card {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 10%;
  background: var(--secondary-gradient);
  z-index: 999;
}
.project__wrapper {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card-heading {
  font-size: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.card__side {
  height: 50rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

.card__side-front {
  background-color: #fff;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__side-back {
  transform: rotateY(180deg);
  background-color: #fff;
}

.project__wrapper:hover > .card__side-front {
  transform: rotateY(-180deg);
}
.project__wrapper:hover > .card__side-back {
  transform: rotateY(0);
}

.card__image,
.card__image img {
  width: 100%;
}
.card__details {
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}
.card__title > h4,
.card__name {
  font-size: 3.8em;
}

.card__description {
  font-size: 2.4rem;
  text-align: center;
}

.card__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card__git {
  background: var(--secondary-gradient);
}
.card__web {
  background: var(--primary-gradient);
}
.card__btn {
  padding: 2rem 4rem;
  border-radius: 5rem;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.git__projects-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.project {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 3rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.project-name {
  font-size: 2.8rem;
  padding: 4rem;
  text-align: center;
}

.git-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.git-link {
  background: var(--secondary-gradient);
  border-radius: 5rem;
  font-size: 2rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  padding: 2rem 4rem;
}
.live-link {
  background: var(--primary-gradient);
  color: var(--primary-text);
  padding: 2rem 4rem;
  border-radius: 5rem;
  font-size: 2rem;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.git-link:hover,
.live-link:hover {
  transform: translateY(-5px);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1920px) {
  .git-link {
    background: var(--secondary-gradient);
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 1.6rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
  }
  .live-link {
    background: var(--primary-gradient);
    color: var(--primary-text);
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 1.6rem;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  }

  .git-link:hover,
  .live-link:hover {
    transform: translateY(-5px);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 1576px) {
  .card__side-front {
    padding: 2rem;
  }

  .card__btn {
    padding: 1rem 2rem;

    font-size: 1.8rem;
  }
  .git-link {
    padding: 1rem 2rem;
  }
  .live-link {
    padding: 1rem 2rem;
  }

  .project-name {
    font-size: 2.6rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 1440px) {
  .projects-section {
    padding-left: 0;
    padding-right: 0;
  }
  .project__wrapper {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
  }

  .card__details {
    padding: 3rem;

    justify-content: space-around;
    gap: 5rem;
  }
  .card__cta {
    gap: 1rem;
  }
  .card__btn {
    padding: 1rem 2rem;
    border-radius: 5rem;
  }
}
@media only screen and (max-width: 19em) {
  .projects-section {
    padding: 2rem;
  }
  .featured-projects {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .sm-circle-bottom-card {
    top: 60%;
    left: 40%;

    height: 10rem;
    width: 10rem;
  }
  .sm-circle-top-card {
    height: 10rem;
    width: 10rem;
  }
  .project__wrapper {
    perspective: 120rem;
    -moz-perspective: 120rem;
    position: relative;
    height: 40rem;
  }
  .card-heading {
    font-size: 4.4rem;
    padding: 4rem;
  }
  .card__side {
    height: 40rem;
  }

  .card__side-front {
    height: 40rem;
    padding: 2rem;
  }

  .card__image,
  .card__image img {
    width: 100%;
  }
  .card__details {
    padding: 1rem;

    gap: 4rem;
  }
  .card__title > h4,
  .card__name {
    font-size: 3em;
  }

  .card__description {
    font-size: 2rem;
  }

  .card__cta {
    flex-direction: column;
  }

  .card__btn {
    padding: 1rem 3rem;
    border-radius: 5rem;
    font-size: 1.8rem;
    transition: all 0.3s ease;
  }

  .git__projects-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;

    grid-template-columns: 1fr;
  }
  .project {
    background-color: #fff;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .project-name {
    font-size: 2rem;
    padding: 3rem;
  }

  .git-links {
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  .projects-section {
    padding: 6rem;
  }
  .featured-projects {
    grid-template-columns: 1fr;
  }

  .card__title > h4,
  .card__name {
    font-size: 3.6em;
  }

  .card__description {
    font-size: 2.2rem;
    text-align: center;
  }

  .card__btn {
    padding: 2rem 4rem;
    border-radius: 5rem;
    font-size: 1.8rem;
    transition: all 0.3s ease;
  }

  .git__projects-wrapper {
    grid-template-columns: 1fr;
  }

  .project-name {
    font-size: 3rem;
  }

  .git-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
