.skills-section {
  background: var(--primary-text);
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.skills__grid-item {
  background: var(--primary-gradient);
  display: flex;
  gap: 2rem;
  color: var(--primary-text);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 3rem;

  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
.skills__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.skills__name {
  font-size: 3.6rem;
}
.skills_description {
  font-size: 2.4rem;
}
@media screen and (max-width: 1920px) {
  .skills__grid-item {
    padding: 3rem 3rem;
  }

  .skills__name {
    font-size: 3.2rem;
  }
  .skills_description {
    font-size: 2.2rem;
  }
}
